#video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.interactable {
  background-color: white;
  width: 200px;
  height: 200px;
  position: absolute;
}

.interactable-hovering {
  background-color: white;
  box-shadow: 0 0 15px white;
  width: 200px;
  height: 200px;
  position: absolute;
}
